<!DOCTYPE html>
<html lang="tr">
@{
    ViewData["Title"] = "Iletisim";
}

<h1>Iletisim</h1>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim | Malatya Battalgazi Belediyesi</title>
    <link rel="stylesheet" href="site.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-K56q6D3FcveTY7P63ZUnAa23PO0KNT2qP/Qw/SV2HAAjLf6HFq3J9zB4VIic9bkEmSeyj2gKGo7qFCRzV0Z6Zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        h2, p {
            font-size: 36px;
        }

        .social-icons {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

            .social-icons li {
                margin: 0 10px;
            }

            .social-icons a {
                text-decoration: none;
                color: #333;
                font-size: 24px;
            }
    </style>
</head>

<body>

    <div class="iletisim-container">
        <h2>İletişim Bilgileri</h2>
        <p>Telefon: 444 65 95</p>
        <p>Adres: Üçbağlar Mah. Sivas Cad. No:48 / Battalgazi - MALATYA</p>

        <!-- Sosyal Medya İkonları -->
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/BattalgaziBelTr" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/BattalgaziBelTr" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/BattalgaziBelTr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>


</body>

</html>
