<!DOCTYPE html>


@model Calisan

<form method="post">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        html, body {
            overflow-y: auto; /* or overflow: auto; */
        }
    </style>

    <div class="row">

        <div class="col-10">

            <div class="border p-3 mt-5">

                <div class="row pb-3">

                    <h2 class="text-primary">@(Model == null ? "Calisan Ekle" : "Calisan Güncelle")</h2>
                </div>

                <div class="mb-3">
                    <label asp-for="Ad" class="p-0"></label>
                    <input asp-for="Ad" class="form-control" />
                    <span asp-validation-for="Ad" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Soyad" class="p-0"></label>
                    <input asp-for="Soyad" class="form-control" />
                    <span asp-validation-for="Soyad" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="TC" class="p-0"></label>
                    <input asp-for="TC" class="form-control" placeholder="12345678901" />
                    <span asp-validation-for="TC" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Adres" class="p-0"></label>
                    <input asp-for="Adres" class="form-control" />
                    <span asp-validation-for="Adres" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="TelNo" class="p-0"></label>
                    <input asp-for="TelNo" class="form-control" placeholder="05055555555" />
                    <span asp-validation-for="TelNo" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="Mail" class="p-0"></label>
                    <input asp-for="Mail" class="form-control" placeholder="name@example.com" />
                    <span asp-validation-for="Mail" class="text-danger"></span>

                </div>

                <div class="mb-3">
                    <label asp-for="BirimId" class="p-0">Sorumlu Birim:</label>
                    <select id="BirimId" name="BirimId" asp-items="ViewBag.BirimCalisanList" class="form-select">
                        <option value="">Seçiniz:</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label asp-for="DepId">Departman:</label>
                    <select id="DepId" name="DepId" class="form-control">
                        <option value="">Seçiniz:</option>
                    </select>
                </div>

                <script>
                    $(document).ready(function () {
                        $("#BirimId").change(function () {
                            var selectedBirimId = $(this).val();

                            // AJAX isteği ile departmanları getir
                            $.ajax({
                                url: '/Calisan/GetDepartmentsByBirimId',
                                type: 'GET',
                                data: { birimId: selectedBirimId },
                                success: function (data) {
                                    // Departmanları güncelle
                                    $("#DepId").empty();
                                    $("#DepId").append('<option value="">Seçiniz</option>');
                                    $.each(data, function (i, item) {
                                        $("#DepId").append('<option value="' + item.value + '">' + item.text + '</option>');
                                    });
                                },
                                error: function () {
                                    console.log('Departmanları getirme hatası');
                                }
                            });
                        });
                    });
                </script>

                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Guncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Ekle</button>
                }


                <a asp-controller="Calisan" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    Geri Dön

                </a>

            </div>

        </div>

        <div class="col-2">

        </div>

    </div>

</form>

</>