@model CagriMerkezi

<div class="container">

    <div class="row pt-3 pb-4">

        <div>
            <h1>Çağrı Merkezi Sayfası</h1>
            <hr />
        </div>

    </div>

    <div class="row">

        <div class="col-md-4">
            <a asp-controller="CagriMerkezi" asp-action="GelenSikayet" class="btn btn-primary">Gelen Şikayetler</a>
        </div>

        <div class="col-md-4">
            <a asp-controller="CagriMerkezi" asp-action="EkleGuncelle" class="btn btn-success">Şikayet Oluştur</a>
        </div>

    </div>

    <!-- Diğer içerik buraya gelebilir -->

</div>