<!DOCTYPE html>



@model Birim

<form method="post">
    <input asp-for="Id" hidden />

    <div class="main-content">
    <div class="border p-3 mt-5">
        <div class="row pb-3">

            <h2 class="text-primary">Birim Ekle</h2>

        </div>


        <style>
            html, body {
                overflow-y: auto; /* or overflow: auto; */
            }
        </style>

        <div class="mb-3">
            <label asp-for="Ad" class="p-0"></label>
            <input asp-for="Ad" class="form-control" Required />
            <span asp-validation-for="Ad" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Birim Ekle</button>
        <a asp-controller="Birim" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
           Geri Dön

        </a>

    </div>

    </div>
</form>

</html>
